body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #EBEFF2;
}

#banner{
    width:100vw;
}

.section{

}

img{
    width:100%;
}

p{
    font-size: larger;
}

h1{
    font-weight : 700;
}